::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #ff7414; 
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #ff761410;
}

::selection {
    color: white;
    background: #ff7414;
}

html {
    scroll-behavior: smooth;
}